body {
  min-height: 100vh;
  font-family: "Poppins";    
}

.carregando {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../imagens/mario-up.gif") center no-repeat
    #F44336;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-width: 1440px;
  margin: 0 auto;
}

.cabecalho .logo {
  width: 65px;
}

.cabecalho .menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.cabecalho nav li a {
  font-weight: bold;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px;
  transition: 0.2s;
  border-radius: 50px;  
}

.cabecalho nav li a:hover {  
  background: #d5011d;
}

main {
  display: flex;
  min-height: calc(100vh - 132px);
  justify-content: center;
  padding: 0 30px 30px;
}

main .container {
  display: flex;  
  align-items: center;  
}

main .container .informacoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 750px;
}

main .container .descricao {
  color: #a8adb7;
  width: 95%;
  font-size: 18px;
}

main .container .botao-trailer {
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  background: #ff0021;
  transition: 0.5s all ease-in-out;
  border: none;
  text-transform: uppercase;
}

main .container .botao-trailer:hover {
  transform: scale(1.1);
}

main .container .imagem-titulo {
  max-width: 500px;
}

.fundo-video {
  position: absolute;    
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.fundo-video::after {
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  /* mostrar como fazer esse efeito aqui https://cssgradient.io/ */
  background: linear-gradient(90deg,#040203 0%,rgba(0, 0, 0, 0.85) 49%,#040203 100%);
}

.fundo-video .video {
  height: 100vh;
}
