.modal {
	background-color: rgba(52, 52, 50, 0.749);
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.conteudo-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	border-radius: 5px;
	gap: 15px;
}

.fechar-modal {
	width: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	background-color: #ffffff;
}

.modal iframe {
	width: 640px;
	height: 360px;
	border-width: 0px;
}

.aberto {
	opacity: 1;
	visibility: visible;
}
