@media (max-width: 1200px) {
	body {
		background-color: #f44336;
	}

	.fundo-video {
		display: none;
	}

	.container {
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
		height: auto;
	}

	.container .mario {
		max-width: 50%;
	}

	.container .informacoes {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.container .imagem-titulo {
		max-width: 75%;
	}

	.container .descricao {
		color: #ffffff;
		text-align: center;
	}

	.container .botao-trailer {
		background-color: #263238;
	}
}

@media (max-width: 500px) {
	.cabecalho {
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}

	.container .imagem-titulo {
		max-width: 75%;
	}

	.modal .fechar-modal {
		width: 30px;
		line-height: 30px;
	}

	.modal #video {
		width: 300px;
		height: 169px;
	}
}

@media (max-width: 376px) {
	.modal #video {
		width: 250px;
		height: 140px;
	}
}
